.footer {
  min-height: 360px;
  padding: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  z-index: 1;

  .footer-content {
    max-width: $max-page-width;
    width: 100%;
    display: grid;
    align-items: center;
    align-self: center;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 5%;
  }
}
