.header-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-header;
  border-bottom: 1px solid rgba($black, .1);
  backdrop-filter: blur(10px);
  background-color: rgba(var(--body-bg-color-rgb), .8);

  &.fixed {
    position: fixed;
  }

  .header {
    padding: 16px 24px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 16px;
    min-height: 64px;
  }

  .header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header-right {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    justify-content: end;
    gap: 32px;
    align-items: center;
    text-wrap: nowrap;

    .cart-btn {
      cursor: not-allowed;

      &.active {
        cursor: pointer;
      }

      .cart-btn-count:not(:empty)::before {
        content: '·';
        margin: 0 4px;
      }
    }
  }
}
