@charset "UTF-8";
.block-wrapper,
.categories-wrapper {
  position: relative;
}
.block-wrapper .block-edit-buttons,
.categories-wrapper .block-edit-buttons {
  position: absolute;
  z-index: 2;
  top: 16px;
  left: 16px;
}
.block-wrapper .move-buttons, .block-wrapper .delete-button,
.categories-wrapper .move-buttons,
.categories-wrapper .delete-button {
  display: inline-block;
}

.categories-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block {
  min-height: 100vh;
  padding: 32px;
  position: relative;
}
.block .voog-bg-picker-btn {
  top: 32px;
  left: 32px;
}
.block.split_40_60, .block.split_staggered, .block.split_60_40 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.block.split_40_60 .wrapper, .block.split_staggered .wrapper, .block.split_60_40 .wrapper {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 80px;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
  z-index: 1;
}
.block.column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block.column .wrapper {
  max-width: 560px;
  flex: 1;
  z-index: 1;
  width: 100%;
}
.block.split_staggered .wrapper {
  grid-template-columns: 1fr 1fr;
  flex: 1;
}
.block.split_staggered .content-formatted:last-child {
  height: 100%;
}
.block.split_60_40 .wrapper {
  grid-template-columns: 1fr 40%;
}
.block.split_50_50_full {
  padding: 0;
  min-height: 50vh;
}
.block.split_50_50_full .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  height: 100%;
}
.block.split_50_50_full .content-formatted {
  padding: 48px;
  position: relative;
  z-index: 2;
}

.block-bg-color,
.block-bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
}

.block-bg-color {
  z-index: 1;
}

.block-bg-image {
  background-size: cover;
  background-position: center;
  z-index: 0;
}

@media screen and (max-width: 640px) {
  .block {
    padding: 24px;
  }
  .block.split_40_60 .wrapper, .block.split_staggered .wrapper, .block.split_60_40 .wrapper {
    grid-template-columns: 1fr;
  }
  .block.split_staggered .wrapper .content-formatted:first-child {
    order: 2;
  }
  .block.split_staggered .wrapper .content-formatted:last-child {
    order: 1;
  }
  .categories-wrapper {
    grid-template-columns: 1fr;
  }
}
body .edy-ecommerce-shopping-cart-button {
  display: none;
  max-height: 0;
  position: relative;
  top: unset;
  bottom: 0;
}
body.edy-checkout-button-visible {
  padding-top: 0;
}

.cart-popover {
  position: fixed;
  top: 48px;
  right: 32px;
  width: 100%;
  opacity: 0;
  max-width: 360px;
  pointer-events: none;
  z-index: 11020;
  background-color: #FFFFFF;
  transition: opacity 400ms;
  cursor: pointer;
}
.cart-popover .wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.cart-popover.visible {
  opacity: 1;
  pointer-events: all;
}
.cart-popover.visible .content {
  transform: translateX(0);
}
.cart-popover.visible:hover {
  opacity: 0.7;
}
.cart-popover .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  min-height: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
  width: 100%;
  margin-left: 72px;
  transition: transform 400ms;
  transform: translateX(-72px);
}
.cart-popover .content .info {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.cart-popover .content .view-cart {
  color: #888888;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  margin-left: 8px;
}
.cart-popover .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 24px;
  display: flex;
  align-items: center;
  background-color: #000000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
  z-index: 11021;
}
.cart-popover .icon path {
  fill: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .cart-popover {
    top: 0;
    left: 0;
    right: 0;
    min-width: 100vw;
  }
}
.footer {
  min-height: 360px;
  padding: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 1;
}
.footer .footer-content {
  max-width: 1440px;
  width: 100%;
  display: grid;
  align-items: center;
  align-self: center;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 5%;
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 24px;
  }
  .footer .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .footer-content .content-formatted:first-child {
    grid-column: 1/-1;
  }
}
.header-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.header-wrapper:not(.menu-active) {
  background-color: rgba(var(--body-bg-color-rgb), 0.8);
}
.header-wrapper:not(.menu-active):after {
  content: "";
  backdrop-filter: blur(10px);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}
.header-wrapper.fixed {
  position: fixed;
}
.header-wrapper .header {
  padding: 16px 24px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 16px;
  min-height: 64px;
  position: relative;
  z-index: 11000;
}
.header-wrapper .header-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-wrapper .header-right {
  display: flex;
  justify-content: end;
  gap: 32px;
  align-items: center;
  text-wrap: nowrap;
  z-index: 1;
}
.header-wrapper .header-right .cart-btn {
  cursor: not-allowed;
}
.header-wrapper .header-right .cart-btn.active {
  cursor: pointer;
}
.header-wrapper .header-right .cart-btn .cart-btn-count:not(:empty)::before {
  content: "·";
  margin: 0 4px;
}

@media screen and (max-width: 900px) {
  .header-wrapper .header {
    grid-template-columns: auto 1fr auto;
  }
  .header-wrapper .header .menu-main {
    order: 2;
  }
  .header-wrapper .header .header-content {
    order: 1;
    z-index: 2;
  }
  .header-wrapper .header .header-right {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 0;
  }
  .editmode .header-wrapper .header .header-right {
    padding-bottom: 160px;
  }
  .header-wrapper .header .header-right .menu-lang {
    order: 1;
  }
  .header-wrapper .header .header-right .cart-btn {
    order: 2;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px;
    margin: 24px;
  }
}
.search-button {
  cursor: pointer;
}

.search .search-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(247, 247, 242, 0.8);
  z-index: 1;
  flex-direction: column;
  align-items: center;
  display: none;
}
.search .search-wrapper.active {
  display: flex;
}
.search .search-close {
  background-image: url("../assets/ico-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 64px;
  right: 64px;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.search .search-inner {
  max-width: 992px;
  width: 100%;
  padding: 24px;
  position: relative;
  top: 10%;
}
.search .search-input-wrapper {
  flex: 1;
}
.search .search-form {
  display: flex;
  gap: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
}
.search .search-form:before {
  content: "";
  background-image: url("../assets/ico-search.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  display: block;
}
.search .search-input {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
}
.search .search-results {
  padding-top: 24px;
  text-wrap: wrap;
}
.search .search-results h3, .search .search-results a {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  text-decoration: none;
}
.search .search-results p {
  color: #888888;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .search .search-button,
  .search .search-close {
    display: none;
  }
  .search .search-wrapper {
    display: flex;
    position: relative;
    background-color: unset;
    backdrop-filter: none;
  }
  .search .search-inner {
    max-width: 100%;
    top: 0;
    padding: 0;
  }
  .search .search-form {
    margin: 24px;
  }
  .search .search-results {
    padding-top: 0;
  }
  .search .search-results.search-results-active {
    padding: 0 24px 24px;
  }
}
.product-page .voog-bg-picker-btn {
  position: relative;
  margin-bottom: 12px;
}
.product-page .product-page-content {
  padding: 40px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.product-page .split-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  gap: 40px;
}
.product-page .product-image.without-image {
  background-image: url("../assets/ico-placeholder.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  aspect-ratio: 1/1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.product-page .product-image .item-image {
  max-width: 100%;
}
.product-page .product-information {
  max-width: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 32px;
}
.product-page .product-information .product-name {
  padding-bottom: 8px;
}
.product-page .product-information .product-price,
.product-page .product-information .product-social {
  padding-bottom: 32px;
}
.product-page .product-information .product-description {
  padding-bottom: 24px;
  word-wrap: break-word;
}
.product-page .product-information .product-buy-button {
  padding-bottom: 24px;
}
.product-page .product-footnote {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  padding-top: 24px;
  margin-top: 24px;
  color: #727272;
}
.product-page .product-additional-content {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  padding-top: 48px;
  margin-top: 56px;
}

@media screen and (max-width: 900px) {
  .product-page .product-page-content,
  .product-page .product-information {
    padding: 24px;
  }
}
@media screen and (max-width: 640px) {
  .product-page .split-section {
    grid-template-columns: 1fr;
  }
  .product-page .product-information {
    max-width: 100%;
    padding: 0;
    overflow: auto;
  }
}
.common-page .common-page-content {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.front-page .front-page-content {
  display: grid;
  flex: 1;
  position: relative;
  padding: 56px;
  align-self: center;
  max-width: 1440px;
  width: 100%;
  gap: 32px;
}
.front-page .hero {
  min-height: 432px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.front-page .hero .content-formatted {
  width: 100%;
}
.front-page .section {
  padding-bottom: 56px;
}
.front-page .split .hero,
.front-page .column-split .hero {
  width: 50%;
}
.front-page .split .split-section,
.front-page .column-split .split-section {
  display: flex;
  position: relative;
  align-items: center;
}
.front-page .split {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.front-page .split .hero {
  grid-column: 1/-1;
}
.front-page .split .split-section {
  gap: 16px;
}
.front-page .split .split-section .section {
  flex: 1;
}
.front-page .split .split-section .content-formatted {
  width: 66.7%;
}
.front-page .split .image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.front-page .column-split .split-section {
  flex-direction: column;
}
.front-page .column-split .split-section .section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (max-width: 900px) {
  .front-page .front-page-content {
    padding: 24px;
  }
  .front-page .split {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .front-page .split .split-section .content-formatted {
    width: 100%;
  }
  .front-page .column-split .split-section .section {
    grid-template-columns: 1fr;
  }
  .front-page .split .hero,
  .front-page .column-split .hero {
    width: 100%;
  }
  .front-page .hero {
    order: 2;
  }
  .front-page .split-section {
    order: 3;
  }
  .front-page .image-section {
    order: 1;
    margin: -24px;
  }
}
.product-list-page .voog-bg-picker-btn {
  position: relative;
  margin-bottom: 12px;
}
.product-list-page .product-list-content {
  padding: 32px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.menu-breadcrumbs .menu-item.divider:after {
  content: "·";
  margin: 0 4px;
}

.lang-flag {
  display: flex;
  padding: 8px 0;
}
.lang-flag::after {
  background-position: 0 -75px;
  content: attr(data-lang-code);
  background-image: url("../images/ico-flags.png");
  width: 21px;
  height: 15px;
  display: block;
  margin-left: 8px;
}

[data-lang-code^=sq]:after {
  background-position: 0 0;
  content: "";
}

[data-lang-code^=hy]:after {
  background-position: -21px 0;
  content: "";
}

[data-lang-code^=bn]:after {
  background-position: -42px 0;
  content: "";
}

[data-lang-code^=bg]:after {
  background-position: -84px 0;
  content: "";
}

[data-lang-code^=zh]:after {
  background-position: -105px 0;
  content: "";
}

[data-lang-code^=hr]:after {
  background-position: -126px 0;
  content: "";
}

[data-lang-code^=da]:after {
  background-position: -147px 0;
  content: "";
}

[data-lang-code^=cs]:after {
  background-position: -168px 0;
  content: "";
}

[data-lang-code^=et]:after {
  background-position: -189px 0;
  content: "";
}

[data-lang-code^=fi]:after {
  background-position: 0 -15px;
  content: "";
}

[data-lang-code^=fr]:after {
  background-position: -21px -15px;
  content: "";
}

[data-lang-code^=ka]:after {
  background-position: -42px -15px;
  content: "";
}

[data-lang-code^=de]:after {
  background-position: -63px -15px;
  content: "";
}

[data-lang-code^=el]:after {
  background-position: -84px -15px;
  content: "";
}

[data-lang-code^=hu]:after {
  background-position: -105px -15px;
  content: "";
}

[data-lang-code^=is]:after {
  background-position: -126px -15px;
  content: "";
}

[data-lang-code^=hi]:after {
  background-position: -147px -15px;
  content: "";
}

[data-lang-code^=id]:after {
  background-position: -168px -15px;
  content: "";
}

[data-lang-code^=fa]:after {
  background-position: -189px -15px;
  content: "";
}

[data-lang-code^=he]:after {
  background-position: 0 -30px;
  content: "";
}

[data-lang-code^=it]:after {
  background-position: -21px -30px;
  content: "";
}

[data-lang-code^=ja]:after {
  background-position: -42px -30px;
  content: "";
}

[data-lang-code^=ko]:after {
  background-position: -63px -30px;
  content: "";
}

[data-lang-code^=lv]:after {
  background-position: -84px -30px;
  content: "";
}

[data-lang-code^=lt]:after {
  background-position: -105px -30px;
  content: "";
}

[data-lang-code^=ms]:after {
  background-position: -126px -30px;
  content: "";
}

[data-lang-code^=nl]:after {
  background-position: -147px -30px;
  content: "";
}

[data-lang-code^=no]:after {
  background-position: -168px -30px;
  content: "";
}

[data-lang-code^=ur]:after {
  background-position: -189px -30px;
  content: "";
}

[data-lang-code^=fil]:after {
  background-position: 0 -45px;
  content: "";
}

[data-lang-code^=pl]:after {
  background-position: -21px -45px;
  content: "";
}

[data-lang-code^=ro]:after {
  background-position: -42px -45px;
  content: "";
}

[data-lang-code^=ru]:after {
  background-position: -63px -45px;
  content: "";
}

[data-lang-code^=ar]:after {
  background-position: -84px -45px;
  content: "";
}

[data-lang-code^=sk]:after {
  background-position: -105px -45px;
  content: "";
}

[data-lang-code^=sl]:after {
  background-position: -126px -45px;
  content: "";
}

[data-lang-code^=es]:after {
  background-position: -147px -45px;
  content: "";
}

[data-lang-code^=sv]:after {
  background-position: -168px -45px;
  content: "";
}

[data-lang-code^=tr]:after {
  background-position: -189px -45px;
  content: "";
}

[data-lang-code^=uk]:after {
  background-position: 0 -60px;
  content: "";
}

[data-lang-code^=en]:after {
  background-position: -21px -60px;
  content: "";
}

[data-lang-code^=pt]:after {
  background-position: -84px -60px;
  content: "";
}

[data-lang-code^=sr]:after {
  background-position: -126px -60px;
  content: "";
}

[data-lang-code^=bn]:after {
  background-position: -147px -60px;
  content: "";
}

[data-lang-code^=th]:after {
  background-position: -189px -60px;
  content: "";
}

[data-lang-code^=en_US]:after {
  background-position: -21px -60px;
  content: "";
}

[data-lang-code^=en_GB]:after {
  background-position: -63px -60px;
  content: "";
}

[data-lang-code^=en_AU]:after {
  background-position: -168px -60px;
  content: "";
}

[data-lang-code^=en_CA]:after {
  background-position: -105px -60px;
  content: "";
}

[data-lang-code^=pt_BR]:after {
  background-position: -63px 0;
  content: "";
}

[data-lang-code^=fr_IC]:after {
  background-position: -42px -60px;
  content: "";
}

[data-lang-code^=fr_CA]:after {
  background-position: -105px -60px;
  content: "";
}

@media screen and (max-width: 900px) {
  .menu-lang .menu-item-children .menu-child {
    position: relative;
  }
}
.menu-children-close-icon {
  display: none;
}

.menu-main {
  position: relative;
}
.menu-main .menu {
  display: flex;
  text-wrap: nowrap;
  flex-wrap: wrap;
  gap: 32px;
  overflow: hidden;
}
.menu-main .menu-item-wrapper {
  padding: 12px;
}
.menu-main .menu-children-icon {
  display: none;
}
.menu-main .menu-item-children,
.menu-main .dropdown-menu-children {
  border-radius: 8px;
  box-shadow: 0px 15px 42px 0px rgba(0, 0, 0, 0.03);
  display: none;
  position: absolute;
  flex-direction: column;
  padding: 32px;
  gap: 24px;
  background-color: rgba(var(--body-bg-color-rgb), 0.6);
  backdrop-filter: blur(10px);
}
.menu-main .dropdown-item-children .menu-item-children {
  right: calc(-100% + 64px);
}
.menu-main .dropdown-menu {
  display: none;
}
.menu-main .dropdown-menu-visible {
  display: flex;
  align-self: center;
  height: 100%;
}
.menu-main .dropdown-menu-visible .menu-item-wrapper {
  padding: 0;
}
.menu-main .dropdown-menu-visible .dropdown-menu-children {
  top: 24px;
}
.menu-main .dropdown-menu-visible .dropdown-menu-icon {
  height: 100%;
}
.menu-main a.untranslated {
  color: #C5292A;
}

.menu-lang {
  position: relative;
}
.menu-lang .menu-item-children {
  right: 0;
}

@media screen and (min-width: 900px) {
  .menu-main .menu-item-wrapper .menu-item:hover + .menu-item-children,
  .menu-main .dropdown-menu-visible .dropdown-menu-icon:hover + .dropdown-menu-children,
  .menu-main .menu-item-children:hover,
  .menu-main .dropdown-menu-children:hover {
    display: flex;
    flex-direction: column;
    z-index: 11015;
  }
}
@media screen and (max-width: 900px) {
  .menu-children-close-icon {
    background-image: url("../assets/arrow-left.svg");
    width: 32px;
    height: 32px;
    display: block;
    background-size: contain;
    z-index: 2;
    transform: rotate(180deg);
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .menu-children-active .menu-children-close-icon {
    opacity: 1;
  }
  .menu-main {
    position: unset;
  }
  .menu-main .mobile-menu-button {
    display: block;
    position: relative;
    max-width: max-content;
    height: 32px;
    z-index: 2;
  }
  .menu-main .mobile-menu-button .stripe {
    display: block;
    height: 1px;
    width: 32px;
    background-color: #000000;
    transition: transform 1s ease-in-out;
  }
  .menu-main .mobile-menu-button .stripe:first-of-type {
    margin: 50% 0 8px;
  }
  .menu-active .menu-main .mobile-menu-button .stripe:first-of-type {
    transform: rotate(-45deg) translate(-3.5px, 2.5px);
  }
  .menu-active .menu-main .mobile-menu-button .stripe:last-of-type {
    transform: rotate(45deg) translate(-3.5px, -3.5px);
  }
  .menu-main .menu {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(var(--body-bg-color-rgb), 0.6);
    transition: height 1s ease-in-out, top 1s ease-in-out;
    z-index: 1;
  }
  .menu-main .menu .menu-item-wrapper {
    padding: 24px;
    display: flex;
    justify-content: space-between;
  }
  .menu-main .menu .menu-item-wrapper.menu-lang-wrapper {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .menu-main .menu .menu-item-wrapper .menu-children-icon {
    background-image: url("../assets/arrow-left.svg");
    width: 24px;
    height: 24px;
    display: block;
    background-size: contain;
    z-index: 1;
  }
  .menu-main .menu .menu-item-wrapper .menu-item-children {
    display: block;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    padding: 0;
    z-index: 2;
    transition: left 1s ease-in-out;
  }
  .menu-main .menu .menu-item-wrapper .menu-item-children.active {
    left: 0;
    height: 100vh;
    overflow: scroll;
  }
  .menu-main .menu .menu-item-wrapper .menu-item-children .menu-child {
    padding: 24px;
  }
  .menu-main .menu .dropdown-menu-visible {
    display: none;
  }
  .menu-active .menu-main .menu {
    height: 100vh;
    overflow: scroll;
  }
  .menu-children-active .menu-main .menu {
    overflow: hidden;
  }
  .menu-main .menu:after {
    content: "";
    position: fixed;
    height: 0;
    width: 100%;
    top: 0;
    backdrop-filter: blur(20px);
    transition: height 1s ease-in-out;
    z-index: -1;
  }
  .menu-active .menu-main .menu:after {
    height: 100%;
  }
}
.content-formatted .custom-btn {
  display: inline-block;
  padding: 12px 40px;
  background-color: #000000;
  border: 1px solid #000000;
  color: #FFFFFF;
  text-decoration: none;
}
.content-formatted .custom-btn:hover {
  border-color: #888888;
  background-color: #888888;
}
.content-formatted .custom-btn:active {
  border-color: #727272;
  background-color: #727272;
}
.content-formatted .custom-btn.custom-btn-disabled {
  border-color: #F7F7F2;
  background-color: #F7F7F2;
  color: #888888;
}
.content-formatted .edy-texteditor-container {
  margin: 8px;
}
.content-formatted .edy-texteditor-container-wrapper {
  margin-bottom: 1em;
}
.content-formatted .edy-texteditor-container-wrapper-left, .content-formatted .edy-texteditor-container-left {
  margin-right: 1em;
}
.content-formatted .edy-texteditor-container-wrapper-right, .content-formatted .edy-texteditor-container-right {
  margin-left: 1em;
}
.content-formatted .edy-image-container-with-title:after {
  display: block;
  padding: 4px;
  font-size: 12px;
  line-height: 1.3em;
  content: attr(data-title);
}
.content-formatted form {
  max-width: 100%;
  margin-top: 24px;
  clear: both;
}
.content-formatted .form_field,
.content-formatted .edy-fe-label {
  font-size: 14px;
}
.content-formatted .form_field {
  padding-top: 8px;
  padding-bottom: 8px;
}
.content-formatted .form_field:first-child {
  padding-top: 0;
}
.content-formatted .form_field:last-child {
  padding-bottom: 0;
}
.content-formatted .form_field_required .form_field_label:after {
  content: "*";
}
.content-formatted label {
  display: block;
}
.content-formatted .form_field_label,
.content-formatted .edy-fe-label {
  font-weight: 700;
  font-family: inherit;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file,
.content-formatted .form_submit input {
  font-family: inherit;
  font-size: 14px;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea,
.content-formatted .form_field_select,
.content-formatted .form_field_file {
  max-width: 100%;
}
.content-formatted .form_field_textfield,
.content-formatted .form_field_textarea {
  width: 280px;
  margin: 0;
  padding: 8px;
  border: 1px solid #F7F7F2;
  border-radius: 4px;
  box-sizing: border-box;
}
.content-formatted .form_field_textarea {
  min-height: 96px;
}
.content-formatted .form_field_size_medium {
  width: 416px;
}
.content-formatted .form_field_size_large {
  width: 576px;
}
.content-formatted .form_submit {
  margin-top: 8px;
}
.content-formatted .form_error,
.content-formatted .form_field_error {
  color: #C5292A;
}
.content-formatted .form_field_with_errors .form_field_textfield,
.content-formatted .form_field_with_errors .form_field_textarea {
  border: 1px solid #C5292A;
}
.content-formatted .form_notice {
  color: #2F5D4B;
}
.content-formatted .edy-product-widget-grid .edy-product-widget-item .edy-product-widget-item-details-flex-wrap {
  text-align: center;
}
.content-formatted .edy-product-widget-grid .edy-product-widget-item .edy-product-widget-item-details-flex-wrap .edy-product-widget-item-btn {
  width: 100%;
}
.content-formatted .edy-product-widget-masonry .edy-product-widget-item-content .edy-product-widget-item-details-inner,
.content-formatted .edy-product-widget-catalogue .edy-product-widget-item .edy-product-widget-item-details-inner {
  text-align: center;
  width: 100%;
}
.content-formatted .edy-buy-button .edy-buy-button-title:before,
.content-formatted .edy-js-buy-button:before {
  content: "+";
  margin-right: 4px;
}
.content-formatted .edy-buy-button-variants {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
}
.content-formatted .edy-buy-button-variants .form_field {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: 8px;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.content-formatted .edy-buy-button-variants .form_field + .form_field {
  border-top: none;
}
.content-formatted .edy-buy-button-variants .form_field .form_field_label:after {
  content: ":";
}
.content-formatted .edy-buy-button-variants .form_field .form_field_select {
  border: none;
}
.content-formatted .edy-buy-button-align-center .form_field {
  grid-template-columns: repeat(4, 1fr);
}
.content-formatted .edy-buy-button-align-center .form_field:before, .content-formatted .edy-buy-button-align-center .form_field:after {
  content: "";
  display: block;
}
.content-formatted .edy-buy-button-align-right .form_field {
  grid-template-columns: 3fr 1fr;
}

body {
  margin: 0;
  padding: 0;
}

main {
  position: relative;
}

.body-bg-color {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: var(--body-bg-color);
}

.full-height-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
