.product-page {
  .voog-bg-picker-btn {
    position: relative;
  }

  .product-page-content {
    padding: 40px;
  }

  .split-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .product-image {
    &.without-image {
      background-image: url('../assets/ico-placeholder.svg');
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: center;
      aspect-ratio: 1/1;
      border: 1px solid rgba($black, .1);
    }
  }

  .product-information {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product-name {
      padding-bottom: 8px;
    }

    .product-price,
    .product-social {
      padding-bottom: 32px;
    }

    .product-description {
      padding-bottom: 24px;
      word-wrap: break-word;
    }

    .product-buy-button {
      padding-bottom: 24px;
    }
  }

  .product-footnote {
    border-top: .5px solid rgba($black, .1);
    padding-top: 24px;
    margin-top: 24px;
    color: $grey-3;
  }

  .product-additional-content {
    border-top: .5px solid rgba($black, .1);
    padding-top: 48px;
    margin-top: 56px;
  }
}
