.product-page {
  .voog-bg-picker-btn {
    position: relative;
    margin-bottom: 12px;
  }

  .product-page-content {
    padding: 40px;
    max-width: $max-page-width;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .split-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
    gap: 40px;
  }

  .product-image {
    &.without-image {
      background-image: url('../assets/ico-placeholder.svg');
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: center;
      aspect-ratio: 1/1;
      border: 1px solid rgba($black, .1);
    }

    .item-image {
      max-width: 100%;
    }
  }

  .product-information {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 32px;

    .product-name {
      padding-bottom: 8px;
    }

    .product-price,
    .product-social {
      padding-bottom: 32px;
    }

    .product-description {
      padding-bottom: 24px;
      word-wrap: break-word;
    }

    .product-buy-button {
      padding-bottom: 24px;
    }
  }

  .product-footnote {
    border-top: .5px solid rgba($black, .1);
    padding-top: 24px;
    margin-top: 24px;
    color: $grey-3;
  }

  .product-additional-content {
    border-top: .5px solid rgba($black, .1);
    padding-top: 48px;
    margin-top: 56px;
  }
}

@media screen and (max-width: $mobile-width) {
  .product-page {
    .product-page-content,
    .product-information {
      padding: 24px;
    }
  }
}

@media screen and (max-width: $mobile-width-small) {
  .product-page {
    .split-section {
      grid-template-columns: 1fr;
    }

    .product-information {
      max-width: 100%;
      padding: 0;
      overflow: auto;
    }
  }
}
