.categories-page {
  .categories-page-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 1;

    .category-section {
      position: relative;

      .category-bg-color,
      .category-bg-image {
        width: 100%;
        height: 100%;
        position: absolute;
      }

      .category-bg-color {
        z-index: 1;
      }

      .category-bg-image {
        background-size: cover;
        background-position: center;
        z-index: 0;
      }

      .voog-bg-picker-btn {
        top: 32px;
        left: 32px;
      }

      &:nth-child(odd):last-of-type {
        grid-column: 1 / -1;
      }

      .content-formatted {
        padding: 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 50vh;
        position: relative;
        z-index: 2;
      }
    }
  }
}
