.front-page {
  .voog-bg-picker-btn {
    position: relative;
  }

  .front-page-wrapper {
    padding: 56px;
    max-width: $max-page-width;
    margin: auto;
  }

  .front-page-content {
    display: grid;
    position: relative;
    width: 100%;
    gap: 32px;
  }

  .hero {
    min-height: 432px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .content-formatted {
      width: 100%;
    }
  }

  .split_dominant_right,
  .split_even {
    .hero {
      width: 50%;
    }
  }

  .split_dominant_right {
    display: flex;
    flex-direction: column;

    .split-section {
      display: grid;
      grid-template-columns: 40% 50%;
      justify-content: space-between;
      position: relative;
      align-items: center;
    }
  }

  .split_even {
    .split-section {
      flex-direction: column;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
      align-items: center;
      gap: 32px;;
    }
  }

  .change-layout-options {
    position: absolute;
    top: -32px;
  }

  &.dark-background .change-layout-options select {
    color: var(--darkmode-color);
  }
}

@media screen and (max-width: $tablet-width) {
  .front-page {
    .front-page-wrapper {
      padding: 24px;
    }

    .split_dominant_right,
    .split_even {
      .hero {
        width: 100%;
      }

      .split-section {
        grid-template-columns: 1fr;
      }
    }

    .change-layout-options {
      top: -64px;
    }
  }
}
