.front-page {
  .front-page-content {
    display: grid;
    flex: 1;
    position: relative;
    padding: 56px;
    align-self: center;
    max-width: $max-page-width;
    gap: 32px;
  }

  .hero {
    min-height: 432px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .content-formatted {
      width: 100%;
    }
  }

  .section {
    padding-bottom: 56px;
  }

  .split,
  .column-split {
    .hero {
      width: 50%;
    }

    .split-section {
      display: flex;
      position: relative;
      align-items: center;
    }
  }

  .split {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .hero {
      grid-column: 1 / -1;
    }

    .split-section {
      gap: 16px;

      .section {
        flex: 1;
      }

      .content-formatted {
        width: 66.7%;
      }
    }

    .image-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .column-split {
    .split-section {
      flex-direction: column;

      .section {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .front-page {
    .front-page-content {
      padding: 24px;
    }

    .split {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      .split-section .content-formatted {
        width: 100%;
      }
    }

    .column-split {
      .split-section .section {
        grid-template-columns: 1fr;
      }
    }

    .split,
    .column-split {
      .hero {
        width: 100%;
      }
    }

    .hero {
      order: 2;
    }

    .split-section {
      order: 3;
    }

    .image-section {
      order: 1;
      margin: -24px;
    }
  }
}
